extends layout

block content
    p authorization url: #{authURL}
    form(method="post" action="/submit_pin")
        p PIN:
            input(type="text", id="pin") 
        button(type="submit", onclick="submit_pin()") submit PIN