extends layout

block content
  div(class="screen_center")
    span(class="span_center")
      h1= title
    span(class="span_center") 
      p Welcome to #{title}
    span(class="span_center")
      form(method="get", action="/request_authorize")
        button(type="submit") post your note to Twitter