extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method="get" action="/post_tweet")
    button(type="submit", onclick="post_tweet()") post a default tweet
  p authorization url: #{authURL}

