doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/posttweet.js")
    script(src="https://platform.twitter.com/widgets.js")
  body
    block content
