extends layout

block content
    p Authorization Successful

    form(method="post", action="/post_tweet")
        textarea(name="note", cols="30", rows="10", placeholder="Enter your note here")
        button(type="submit") post Tweet
    
    p Twitter User Name:
        input(type="text", id="user_name", name="user_name")
    button(onclick="display_profile_timeline()") Display User Profile Timeline

    div(id="timeline")
